[Desktop Entry]
Type=Application
Name=Grid Portal
Comment=Launch the Grid Portal client
Exec=/usr/libexec/grid-client/grid-portal
Terminal=false
Icon=system-run
Categories=GNOME;System;Utility;
StartupNotify=true
